@media screen and ( max-width: 980px ) {
    .poster {
        padding: 0;
        flex-wrap: wrap;
    }
    .poster-item {
        max-width: 100%;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
    }
    .poster-text {
        transform: translateY(0);
        padding-top: 35%;
    }
}